/* Variables and mixins declared here will be available in all other SCSS files */

$pm: #4600be;


$black: #00001E;
$grey: #272728;
$light-grey: #686767;

$max-width: 1250px;

$timeline-title-width: 180px;
$timeline-font-size: 10.5px;

$mobile: 640px;
